body,
header {
    background-color: $color-principal;
    font-family: $funte-principal;
    text-align: center;
    list-style-type: none;
}

h1 {
    color: $color-principal;
}

p {
    font-family: 'Roboto Slab', serif;
}

.pres2,
.doble,
.footer {
    @include separaciones
}

.btn {
    padding: 15px;
    text-decoration: none;
    font-family: $funte-principal;
    border-radius: 50px;
    border: none;
    background-color: $color-terciario;
    font-size: $fuente-chica;
    color: $color-principal;
    transition: all 0.6s;

    &:hover {
        background-color: $color-secundario;
        color: white;
        transform: scale(1.1, 1.05);
    }

}

a {
    text-decoration: none;
    color: $color-invertido;
}

.pres1 {
    @include principal;
    font-size: $fuente-grande;
    font-family: $funte-principal;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fondopize.jpeg);
    background-position: center;
    color: #ececec;
}

header {
    @include nav;
    justify-content: space-around;
}

ul {
    @include nav;
    gap: 30px;
    list-style-type: none;
    padding-left: 150px;
}

li a {
    @include nav;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
        color: $color-hover;
    }
}

.navbar {
    height: 150px;

}

footer {
    height: 400px;
    padding-top: 50px;
    padding: 25;
    margin-top: 0px;
    align-items: center;
    text-align: center;
}

.redes {
    font-size: $fuente-media;
    align-items: center;
    justify-content: center;
    padding-left: 0;

}