.pizzas {
    @include menus;

    border: solid 3px $color-invertido;

    background-color: $color-terciario;
}

.pizzas1 {
    @include menus;
    text-align: center;
    border: solid 3px black;
    padding-left: $fuente-grande;
    background-color: $color-secundario;
    line-height: $fuente-media;


}

.titulosmenus {
    @include menus;
    font-size: 35px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 30px;

}